 
.liste-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: blueviolet;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
   

  }